<h1>Preferences</h1>

{% if saved %}
	{% if success %}
		{{ ui.alert(success, "Saved successfully.") }}
	{% else %}
		{{ ui.alert(success, "An error occurred while attempting to save.") }}
	{% endif %}
{% else %}


{{ form.begin({
	id    : 'user_edit',
	method: 'post'
}) }}

	{{ form.input({
		label    : 'Name',
		type     : 'text',
		id       : 'name',
		value    : session.user.name,
		required : null,
		minlength: 2,
		maxlength: 100
	}) }}

	{{ form.input({
		label    : 'E-mail',
		type     : 'email',
		id       : 'email',
		value    : session.user.email,
		required : null,
		maxlength: 100
	}) }}

	{{ form.button({ label:'Save changes', type:'submit' }) }}

{{ form.end() }}

{% endif %}
