{{ title('Recent Account History') }}
<h2>Recent Account History</h2>
<div class="table-responsive">
	<table class="table table-hover table-condensed">
		<tbody>
			{% for tx in history %}
			<tr{% if tx.action == 'modified' and (tx.fieldName=='email' or tx.fieldName=='password') %} class="warning"{% endif %}>
				<td>{{ tx.localtimestamp }} ({{ lib.format_ip(tx.ip) }})</td>
				{% if tx.action == 'modified' %}
					<td colspan="2">{{ tx.action }} {{ tx.fieldName }}
						{% if tx.oldValue %}from '{{ lib.format(tx.fieldName, tx.oldValue) }}'{% endif %}
						{% if tx.newValue %}to '{{ lib.format(tx.fieldName, tx.newValue) }}'{% endif %}
					</td>
				{% else %}
					<td>{{ tx.action }}</td>
					<td>{{ tx.fieldName }}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
